body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 1em;
color: #444
font-style:weight400;
}

h1 {
font-size:3em;
color:#444;
text-transform: uppercase;
text-align: center;
}

h2 {
font-size:1.5em;
text-transform: uppercase;
color: #fff;
background-color: #33485e}
